.subscription-news,
.subscription-blog {
	padding: 20px;
	background: lightsteelblue;
	font-family: sans-serif;
	color: #383838;
}

.subscription {
	max-width: 700px;
	padding: 10px 40px;
	border: 2px solid #383838;
	border-radius: 2px;
}
