.neon-account {
	background: green;
	padding: 20px;

	&__tab {
		display: inline-block;
		font-family: sans-serif;
		text-transform: uppercase;
		padding: 5px 10px;
		background-color: #383838;
		border: none;
		margin-right: 10px;

		&.active {
			background: orange;
		}
	}

	.ant-form {
		max-width: 800px;
		width: 100%;

		[name='isPrimaryAddress'] {
			width: auto;
			vertical-align: middle;
		}
	}
}

.account {
	max-width: 1200px;
	margin: 0 auto;

	&__title {
		font-family: sans-serif;
	}
}

.registration {
	max-width: 1200px;
	margin: 0 auto;

	&__title {
		font-family: sans-serif;
	}
}

.orders {
	&__subtitle {
		margin-bottom: 0;
	}

	&__title {
		padding: 0;
		margin: 0 0 20px;
	}

	&__empty {
		font-weight: 500;
		font-size: 20px;
	}
}

.recurring-donations {
	&__title {
		padding: 0;
		margin: 0 0 20px;
	}

	&__empty {
		font-weight: 500;
		font-size: 20px;
	}
}

.ant-table-summary {
	background: transparent !important;
	font-weight: 600;
}
